<h1>Admin Page</h1>
<%= link_to "Logout", { controller: "admins", action: "logout"} , method: :delete %>
<h2>Restaurant List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.location %></td>
      <td><%= link_to "edit", edit_path(restaurant.id), class: "edit"  %></td>
    </tr>
  <% end %>
</table>
